apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: simple-git-clone
  namespace: devops-sandbox
spec:
  params:
    - name: url
      type: string
      description: URL du dépôt Git
    - name: revision
      type: string
      description: Branche à cloner
      default: main

  workspaces:
    - name: source

  steps:
    - name: clone
      image: alpine/git
      script: |
        git clone $(params.url) .
        git checkout $(params.revision)
